body {
      background-image: url("bgd.jpg");
      background-repeat: no-repeat;
      background-size: 1280px 580px;
      

}

.seed {
  color: black;
  font-family: cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align-last: center;
  
}



h1 {
  color: black;
  font-family: Cursive,monospace,fantasy;
  font-size: 70px;
  text-align-last: center;
}
.seed_logo{
  position:fixed;
  top: 100px;
  left: 400px;
  background-color: purple;
  
}

.container{

  width:200px;
  height: 25px;
  margin-left: 500px;
  margin-right: 500px ;
  margin-top: 100px;
}

.form__input{
  height: 30px;
  width:  500px;
  text-align: center;
  align-items: center;
  margin-left:-130px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}

.button--submit{
  color: white;
  border-radius: 5%;
  border-color: black;
  height:40px ;
  width: 100px;
  margin-left: 80px;
  margin-top: 10px;
  align-items: center;
  background-color: rgb(148, 13, 148);
}

